
<% content_for :title, "Myapp | Actors" %>
<h1>All Actors</h1>
<p>All actors in one page</p>

<h2>DB data:</h2>
<% @actors.each do |actor| %>



  <a href="/actors/<%= actor.id %>"><%= actor.name %></a> <%= '-'+ actor.gender %><br>
<% end %>
