<!DOCTYPE html>
<html>
  <head>
    <title>Myapp | Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>About</h1>

    <p>App is running at <a href='/'>novoseloviya.ru </a></p>


    <ul>
      <li>Ruby version 2.7.2p137</li>
      <li>Rais version 6.1.3.2</li>
      <li>Rails server Puma</li>
      <li>Ubuntu LTS 20.04</li>
      <li>Database sqlite3</li>
    </ul>

    <br>
    <a href='/'>Home </a>



  </body>
</html>
