<!DOCTYPE html>
<html>
  <head>
    <title>Myapp | Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Hello1, rails!</h1>
    <br>
    <a href="/actors/">Actiors</a><br>
    <a href="/about/">About</a><br>

  </body>
</html>
