<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>
    <%= yield %>
    <br>
    ____________________<br>
    All actor controller page text

  </body>
</html>
